In [2]:
import pandas as pd

In [13]:
df = pd.read_csv('mieszkania_windows.csv')

In [14]:
df.head()

   Kwartal   Rok  Wartosc
0        4  2023     6386
1        3  2023     6335
2        2  2023     6134
3        1  2023     5668
4        4  2022     5708

In [19]:
dfy = df.groupby(df['Rok'])['Wartosc'].mean()

In [20]:
print(dfy)

Rok
1998    1930.00
1999    2132.50
2000    2281.25
2001    2510.00
2002    2403.50
2003    2238.00
2004    2388.75
2005    2439.25
2006    2545.25
2007    2816.00
2008    3316.25
2009    3891.50
2010    4360.25
2011    3858.25
2012    3996.25
2013    4025.25
2014    4033.50
2015    3969.50
2016    4054.00
2017    4170.00
2018    4237.50
2019    4461.25
2020    4891.50
2021    5134.25
2022    5318.75
2023    6130.75
Name: Wartosc, dtype: float64

In [23]:
import streamlit as st

from streamlit_jupyter import StreamlitPatcher, tqdm

StreamlitPatcher().jupyter()

In [24]:
st.title("Example")

# Example

In [26]:
st.markdown(
    """

This is a test page demonstrating the use of `streamlit_jupyter`.

If you're seeing this in jupyter, then it's working!

"""
)

This is a test page demonstrating the use of `streamlit_jupyter`.

If you're seeing this in jupyter, then it's working!